.card { /* deixa o card menor e alinhado*/
    width: 80%; /* deixa a caixa menor */
	min-height: 500px !important;
    margin: auto;
    transition: transform 0.3s ease,width 0.3s ease, height 0.3s ease;
    overflow: hidden;
    position: relative;
}

.card-img-top { /* enquadra a imagem dentro do card*/
    width: 95% !important;
    height: 200px; /*img menor*/
    object-fit: cover;
    margin: 7px auto 0 !important;
    display: block;
    transition: transform 0.3s ease;
}

.card-title { /* titulo do produto */
    font-family: 'Escopedia',sans-serif !important;
    text-align: center;
    font-size: 1em; /*o titulo fica visivel*/
    font-weight: bold;
}

.card-text,.card-body button { /*deixa todas as descrições de produtos com o mesmo tamanho*/
   /* opacity: 0;/*oculta a descrição*/
    font-family: 'Escopedia',sans-serif !important;
    transition: opacity 0.3s ease;
    text-align: center;
    max-height: 6em; /* Limita altura ingredientes */
    overflow-y: auto; /* scroll vertical*/
    text-overflow: ellipsis;
    white-space: normal;
}

.card:hover {
    transform: scale(1.05,1); /* aumenta ligeiramente o tamanho da div */
    width: 90%;  /* aumenta a largura */
   
}

.comprar { /*formata o botao comprar*/
    font-family: 'Escopedia',sans-serif !important;
    font-weight: bold !important;
    background-color: #ef890d !important; 
    color: #f9f9f9 !important;           
    border: none;            
    border-radius: 5px;      
    padding: 10px;          
    font-size: 16px;         
    transition: transform 0.3s, box-shadow 0.3s; 
}

.comprar:hover {/*botao comprar ao passar por cima*/
    transform: scale(1.05);
    box-shadow: 0px 4px 10px saddlebrown;
} 

.mb-4{ /*titulo do cardapio*/
    color: white !important;
}
