@font-face {
    font-family: 'Escopedia';
    src: url('../teste/escopedia/Escopedia\ Regular.ttf') format('truetype'),
         url('/escopedia/Escopedia Regular.woff2') format('woff2'),
         url('/escopedia/Escopedia Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Escopedia',sans-serif;
    background-color: black;
    color: rgb(211, 108, 35);
}

a {
    color: #fff2cc;
}

input.form-control {
    border: 2px solid saddlebrown; 
}

.navbar {
    background-color: black !important;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff2cc;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    margin-right: 8px;
}

.navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav-item {
    text-align: center;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #ef890d;
    transform: scale(1.1);
}

.dropdown-menu {
    text-align: center;

}
.dropdown-toggle {/*corrigindo o dropdown*/
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.3s ease;
}

.dropdown-toggle:hover,/*corrigindo o dropdown*/
.dropdown-toggle:focus {
    color: #ef890d; 
}
.navbar-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
}

.navbar-icons a {
    color: #fff2cc;
    margin-left: 20px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-icons a:hover {
    color: #ef890d;
}

.form-control{
    font-family: sans-serif;
}

.card {
    width: 80%; /* deixa a caixa menor */
	height:400px;
    margin: auto;
    transition: transform 0.3s ease,width 0.3s ease, height 0.3s ease;
    overflow: hidden;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 200px; /*img menor*/
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-title {
    text-align: center;
    font-size: 1em; /*o titulo fica visivel*/
    font-weight: bold;
}

.card-body .card-text,
.card-body button { 
    opacity: 0;/*oculta a descrição*/
    transition: opacity 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: scale(1.05); /* aumenta ligeiramente o tamanho da div */
    width: 90%;  /* aumenta a largura */
    height: 440px /* aumenta a altura */	
}

.card:hover .card-body .card-text,
.card:hover .card-body button {
    opacity: 1; /* exibe descrição*/
}

.btn comp{
	background-color: saddlebrown;
}
.btn comp:hover{
	background-color:saddlebrown;
}
.btn comp:active{
	background-color:saddlebrown!important;/*cor nao some ao clicar*/
	outline:none;
}

